/* ----------------------------------------------- */
/* HTML Elements */

header{
    border: moccasin;

}


h1{
    text-align: center;
    color: black;
}


body {
padding: 0px;
margin: 0px;
}

p{
    box-align: center;
}

ul{
    border: moccasin;
    background-color: moccasin;
    
}
