/* ----------------------------------------------- */
/* HTML Elements */

* {
    padding: 0px;
    margin: 10px;
    color:moccasin;
}


header{
    border: moccasin;

}


h1{
    text-align: center;
    color: black;
}


body {
padding: 0px;
margin: 0px;
}




ul{
    border: moccasin;

}
